.form-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    justify-content: flex-start;
}

@media screen and (max-width:1080px){
    .form-options{
        grid-template-columns: 1fr;
    }
}



.card{
    border: 1px solid grey;
    padding-bottom: 60px;
    width: 900px;
    margin: 20px;
}
@media screen and (max-width:1080px){
    .card{
        width: calc(100% - 40px);
    }
}

.icons{
    background-color: black;
    color: white;
    width: 35px;
    font-size: 18px;
    padding: 5px 0px;
    display:inline-block;
    text-align: center;
    cursor:pointer;
    border: 1px solid black;
}
.form-Field{
    padding: 5px 10px;
    width: 100%;
}
@media screen and (max-width:1080px){
    .form-Field{
        width: 85%;
    }
}

.field-group{
    justify-content:flex-start;
    display: flex;
    align-items: center;
}

.txt-alert{
    display: none;
    grid-column-start: 0;
    grid-column-end: 2;
}

.form-Field.ng-invalid.ng-touched ~ .txt-alert{
    display:block;
}
.button-form{
    background-color: black;
    color: white;
    padding: 5px 20px 5px 20px;
    margin-right: 5px;
    cursor: pointer;
    border: 0;
}

.button-form:disabled{
    background-color: grey;
    color: white;
}
.groupButton{
    margin-top: 10px;
}

.hr-form{
    border: none; 
    height: 3px;
    background-color: black;
}

.check-terms{
    margin-top: 15px;
    display: block;
}

.check-text::before{
    content: '';
    width: 12px;
    height: 12px;
    border: 1px solid gray;
    color: red;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    font-weight: 900;
    border-radius: 3px;
    line-height: 13px;
    margin-right: 7px;

}
.check-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.check-form{
    display: none;
}

.check-form:checked ~ .check-text::before{
    content: '✓';
}

.user-Form{
    margin: 50px auto 0;
    width: 500px;
}
@media screen and (max-width:1080px){
    .user-Form{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width:760px){
    .user-Form{
        margin-top: 15px;    
    }
}

.h1-form{
    font-size: 15px;
    margin: 10px 12px ;
}
.card-head{
    border-bottom: 3px solid black;
}
@media screen and (max-width:760px){
    .card-head{
        text-align: center;    
    }
}