<div class="card">
    <div class="card-head">
      <h1 class="h1-form" >DIRECCIÓN DE ENVÍO</h1>
    </div>
    <div class="card-body">
        <form class="user-Form" [formGroup]="UserForm" (ngSubmit)="submitForm()">
            <div class="loading" *ngIf="loading">
                <img src="/assets/loading.gif" alt="loading">
            </div>
            <div class="form-options">
                <label class="lbl-group">
                    <div class="field-group">
                        <span class="icons icon-user"></span>
                        <input class="form-Field" type="text" id="name" formControlName="name" placeholder="Nombre">
                    </div>
                    <span class="txt-alert">Tienes un error en este campo</span>
                </label>
                <label class="lbl-group">
                    <div class="field-group">
                        <span class="icons icon-user"></span>
                        <input class="form-Field" type="text" id="lastName" formControlName="lastName"  placeholder="Apellidos">
                    </div>
                    <span class="txt-alert">Tienes un error en este campo</span>
                </label>
                <label class="lbl-group">
                    <div class="field-group">
                        <span class="icons icon-envelop"></span>
                        <input class="form-Field" type="email" id="email" formControlName="email"  placeholder="Correo Electrónico">
                    </div>
                    <span class="txt-alert">Tienes un error en este campo</span>
                </label>
                <label class="lbl-group">
                    <div class="field-group">
                        <span class="icons icon-phone"></span>
                        <input class="form-Field" type="tel" id="phone" formControlName="phone"  placeholder="Número de teléfono">
                    </div>
                    <span class="txt-alert">Tienes un error en este campo</span>
                </label>
                <label class="lbl-group">
                    <div class="field-group">
                        <span class="icons icon-location"></span>
                        <input class="form-Field" type="tel" id="code"  (keyup)="getCodes()" formControlName="code" placeholder="Código postal">
                    </div>
                    <span class="txt-alert"> Tienes un error en este campo</span>
                </label>
                <label class="lbl-group">
                    <div class="field-group">
                        <span class="icons icon-location"></span>
                        <input class="form-Field" *ngIf="!multipleColonies" type="text" id="colonies" formControlName="colonies" placeholder="Colonia">
                    </div>
                    <select *ngIf="multipleColonies" formControlName="colonies" >
                        <option disabled selected value="">
                            Selecciona tu colonia
                        </option>
                        <option *ngFor="let colonie of coloniesGroup" [value]="colonie.value">
                                   {{colonie}}
                        </option>
                    </select>
                    <span class="txt-alert">Tienes un error en este campo</span>
                </label>
                <label class="lbl-group">
                    <div class="field-group">
                        <span class="icons icon-location"></span>
                        <input class="form-Field" type="text" id="state" formControlName="state" placeholder="Estado/Región">
                    </div>
                    <span class="txt-alert">Tienes un error en este campo</span>
                </label>
                <label class="lbl-group">
                    <div class="field-group">
                        <span class="icons icon-location"></span>
                        <input class="form-Field" type="text" id="city" formControlName="city" placeholder="Ciudad">
                    </div>
                    <span class="txt-alert">Tienes un error en este campo</span>
                </label>
                <label class="lbl-group">
                    <div class="field-group">
                        <span class="icons icon-location"></span>
                        <input class="form-Field" type="text" id="town" formControlName="town" placeholder="Delegación o municipio">
                    </div>
                    <span class="txt-alert">Tienes un error en este campo</span>
                </label>
                <label class="lbl-group">
                    <div class="field-group">
                        <span class="icons icon-map2"></span>
                        <input class="form-Field" type="text" id="street" formControlName="street" placeholder="Calle">
                    </div>
                    <span class="txt-alert">Tienes un error en este campo</span>
                </label>
            </div>
            <div class="groupButton">
                <button class="button-form">Libreta de direcciones</button>
                <button [disabled]="this.UserForm.invalid" type="submit"  class="button-form">Guardar</button>
            </div>
            <label class="check-terms">
                <input class="check-form" checked id="billingAddress" formControlName="billingAddress" type="checkbox">
                <span class="check-text"> Utilizar como dirección de facturación.</span>
            </label>
        </form>
    </div>
</div>